{% import "_includes/forms.twig" as forms %}

<img src="{{ qrFile }}" alt="Your freshly generated QR code" style="max-height: 50vh;">

{% set downloadLabel = "Download"|t('qraft') %}
<form method="post" style="margin: 24px 0;">
    {{ actionInput('qraft/after/download') }}
    {{ csrfInput() }}
    {{ hiddenInput('qrUrl', qrUrl) }}
    {{ forms.submitButton({
        label: downloadLabel ~ " (" ~ qrFileExtension|upper ~ " – " ~ qrFileSize ~ ")",
        spinner: true,
    }) }}
</form>

<hr>

<form method="post" style="display: inline-block;">
    {{ actionInput('qraft/generator/modify') }}
    {{ csrfInput() }}
    {{ hiddenInput('content', generator.content) }}
    {{ hiddenInput('size', generator.size) }}
    {{ hiddenInput('format', generator.format) }}
    {{ hiddenInput('foregroundColor', generator.foregroundColor) }}
    {{ hiddenInput('backgroundColor', generator.backgroundColor) }}
    {{ hiddenInput('foregroundOpacity', generator.foregroundOpacity) }}
    {{ hiddenInput('noBackground', generator.noBackground) }}
    {{ hiddenInput('logo', generator.logo) }}
    {{ hiddenInput('qrUrl', qrUrl) }}
    {{ hiddenInput('qrFile', qrFile) }}

    {{ forms.submitButton({
        label: "Modify"|t('qraft'),
        spinner: true,
    }) }}
</form>

<form method="post" style="display: inline-block;">
    {{ actionInput('qraft/generator/new') }}
    {{ csrfInput() }}
    {# {{ hiddenInput( qrPreset ) }} #}
    {{ forms.submitButton({
        label: "New QR"|t('qraft'),
        spinner: true,
    }) }}
</form>
