{% extends "_layouts/cp" %}

{% import "_includes/forms.twig" as forms %}

{% set title = "QRraft plugin – QR Generator"|t("qraft") %}

{% block content %}

    {% if qrFile is defined %}
        {% include "qraft/generator/_result.twig" %}
    {% else %}

        {% if not generator is defined %}
            {% set generator = craft.qraft.getDefault %}
        {% endif %}

        <form method="post">
        
            {{ actionInput('qraft/generator/cp-qr') }}
            {{ csrfInput() }}

            {% set bck = {
                default: "color",
                labelShowColor: "Use a background color instead"|t('qraft'),
                labelShowImage: "Use a background image instead"|t('qraft'),
            } %}

            {{ forms.textareaField({
                label: "Content to encode:"|t('qraft'),
                name: 'content',
                type: 'text',
                autofocus: true,
                required: true,
                first: true,
                value: generator.content,
                errors: generator.getErrors('content'),
            }) }}

            {{ forms.textField({
                label: "Size (px):"|t('qraft'),
                name: 'size',
                type: 'number',
                tip: "From 76px to 1000px"|t('qraft'),
                required: true,
                value: generator.size,
                errors: generator.getErrors('size'),
            }) }}

            {{ forms.selectField({
                label: "File format:"|t('qraft'),
                instructions: "Choose the desired file format for the generated QR code."|t('qraft'),
                name: 'format',
                value: generator.format,
                options: {
                    png: 'PNG',
                    svg: 'SVG',
                    webp: 'WEBP',
                },
                errors: generator.getErrors('format'),
            }) }}

            {% if plugin('qraft').is('pro') %}

                <hr>

                {{ forms.elementSelectField({
                    label: "Custom logo:"|t('qraft'),
                    instructions: "Upload a custom image to be included in the QR code. The generator supports transparency but <b>not</b> SVG files."|t('qraft'),
                    name: "logo",
                    elementType: "craft\\elements\\Asset",
                    single: true,
                    viewMode: 'large',
                    criteria: {
                        kind: 'image',
                        filename: ['not', '*.svg']
                    },
                    limit: 1,
                    jsClass: 'Craft.AssetSelectInput',
                    sources: '*',
                    elements: [craft.assets.id(generator.logo).one()],
                }) }}

                {{ forms.colorField({
                    label: "Foreground color:"|t('qraft'),
                    instructions: "Select or enter the color for the foreground of the QR code."|t('qraft'),
                    name: "foregroundColor",
                    tip: "Consider contrast for optimal QR code readability when selecting colors."|t('qraft'),
                    value: generator.foregroundColor,
                    errors: generator.getErrors('foregroundColor'),
                }) }}

                {{ forms.selectField({
                    label: "Foreground opacity:"|t('qraft'),
                    instructions: "Here you can adjust the opacity of the foreground color."|t('qraft'),
                    name: "foregroundOpacity",
                    value: generator.foregroundOpacity,
                    options: {
                        100: '100',
                        75: '75',
                        50: '50',
                        25: '25',
                    },
                    value: generator.foregroundOpacity,
                    errors: generator.getErrors('foregroundOpacity'),
                }) }}

                {{ forms.colorField({
                    label: "Background color:"|t('qraft'),
                    name: "backgroundColor",
                    instructions: "Select or enter the color for the background of the QR code."|t('qraft'),
                    attribute: 'bck_color',                    
                    tip: "Consider contrast for optimal QR code readability when selecting colors."|t('qraft'),
                    value: generator.backgroundColor,
                    errors: generator.getErrors('backgroundColor'),
                }) }}

                {# TODO: Image background planned for future release #}
                {# {{ forms.elementSelectField({
                    label: "Background image:"|t('qraft'),
                    name: "test2",
                    elementType: "craft\\elements\\Asset",
                    single: true,
                    viewMode: 'large',
                    criteria: {
                        kind: 'image',
                    },
                    limit: 1,
                    jsClass: 'Craft.AssetSelectInput',
                    sources: '*',
                    attribute: "bck_image hidden"
                }) }}

                {{ forms.button({
                    label: "Use a background image instead"|t('qraft'),
                    class: "bck_button",
                }) }} #}

                {{ forms.checkboxField({
                    label: "Transparent background"|t('qraft'),
                    name: 'noBackground',
                    class: "bck_checkbox",
                    checked: generator.noBackground,
                    errors: generator.getErrors('noBackground'),
                }) }}

                {# {% include "qraft/generator/js/_generatorForm.twig" %} #} {# TODO: Image background planned for future release #}

            {% endif %}

            <hr>

            {{ forms.submitButton({
                label: "Generate"|t('qraft'),
                spinner: true,
            }) }}

        </form>
    {% endif %}
{% endblock %}